@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  /* Allow changing font family via CMS */
  html {
    font-family: var(--font-family);
  }

  mark {
    @apply bg-accent text-accent-content;
  }

  /** Remove default styles from input[type=number] */
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Disable scroll once drawer/modal is openned */
  body:has(.drawer-toggle:checked),
  body:has(.modal-toggle:checked) {
    overflow: hidden;
    height: 100vh;
  }
}

@layer components {
  .features {
    @apply flex items-center justify-center gap-6 flex-wrap;
    @apply relative max-w-[1280px] mx-auto;
  }

  .feature-card {
    @apply w-[380px] max-w-[380px] lg:h-[380px] bg-[#F4F4F4] rounded-3xl;
    @apply border-l border-transparent duration-200 whitespace-pre-line text-center;
    @apply flex flex-col items-center justify-start gap-8 py-10 px-8 lg:px-12;
  }
}

.group:disabled .group-disabled\:animate-progress {
  animation: progress-frame ease normal
}

@keyframes progress-frame {
  0% {
    --dot-progress: 0%
  }

  to {
    --dot-progress: 100%
  }
}

.itemDots:nth-child(4n+2),
.itemDotsKeep:nth-child(4n+2) {
  display: block;
}

/*rolex*/
@import url('https://fonts.cdnfonts.com/css/helvetica-neue-55');
@import url('https://fonts.cdnfonts.com/css/georgia');

html {
  scroll-behavior: smooth;
}

b,
strong {
  font-weight: bold;
}

.f-rolex {
  font-family: 'Helvetica Neue', sans-serif;
}

.f-rolex-g {
  font-family: 'Georgia', sans-serif;
}

.headline70 {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 70px;
  font-weight: bold;
  line-height: 1.1;
}

.headline50 {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 50px;
  font-weight: bold;
  line-height: 1.1;
}

.headline36 {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 36px;
  font-weight: bold;
  line-height: 1.1;
}

.headline30 {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 30px;
  font-weight: bold;
  line-height: 1.1;
}

.headline26 {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 26px;
  font-weight: bold;
  line-height: 1.2;
}

.body20 {
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.6;
}

.body24 {
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.2;
}

.body20-ligth {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 300;
}

.legend16 {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 1.1;
  font-weight: bold;
}

.legend16-ligth {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 1.1;
  font-weight: 300;
}

.fixed22 {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 22px;
  font-weight: bold;
  line-height: 1.1;
}

.fixed16 {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.1;
}

.fixed14 {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.1;
}

.primary-cta {
  font-family: 'Helvetica Neue', sans-serif;
  max-height: 44px;
  min-height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  border-radius: 32px;
  border: 0;
}

.secondary-cta {
  font-family: 'Helvetica Neue', sans-serif;
  max-height: 44px;
  min-height: 44px;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  color: #127749;
  border-radius: 32px;
  border: 0;
}

/*colors*/
.bg-rolex-1 {
  background-color: #127749 !important;
}

.bg-rolex-2 {
  background-color: #f4efea !important;
}

.bg-rolex-3 {
  background-color: #f9f7f4 !important;
}

.bg-gradiente {
  background: linear-gradient(90deg, #0b3e27, #197149);
}

.rolex-container {
  padding-left: 8%;
  padding-right: 8%;
}

.rolex-container-2 {
  padding-left: 15%;
  padding-right: 15%;
}

.rolex-container-3 {
  max-width: 500px;
  margin: 0 auto;
}

::marker {
  display: none;
}

summary {
  list-style: none
}

.font-boldd {
  font-weight: bold !important;
}

.font-p {
  text-align: left !important;
  line-height: 1.75rem !important;
  font-size: 20px !important;
  color: #212121 !important;
}

.font-p p,
.font-p span {
  font-size: 20px !important;
  font-weight: 300 !important;
  text-align: left !important;
  line-height: 1.75rem !important;
  color: #212121 !important;
}

.font-p b {
  font-weight: bold !important;
}

@media (max-width: 1024px) {
  .itemDotsKeep:nth-child(2n+2) {
    display: block;
  }

  .rolex-container,
  .rolex-container-2,
  .rolex-container-3,
  .rolex-container-mob {
    padding-left: 7%;
    padding-right: 7%;
  }

  .headline70 {
    font-size: 36px;
  }

  .headline50 {
    font-size: 30px;
  }

  .headline36 {
    font-size: 24px;
  }

  .headline30 {
    font-size: 30px;
  }

  .headline26 {
    font-size: 26px;
  }

  .body20 {
    font-size: 18px;
  }

  .body24 {
    font-size: 18px;
  }

  .body20-ligth {
    font-size: 18px;
  }

  .legend16 {
    font-size: 12px;
  }

  .legend12-ligth {
    font-size: 12px;
  }

  .font-p,
  .font-p p,
  .font-p span {
    font-size: 18px !important;
  }
}